.box {
  display: block;
  border: 1px solid;
  padding: 10px;
  margin: 1em 0;
}

.notice {
  border-color: #0f0;
  background: #afa;
  color: #070;
}

.error {
  border-color: #f00;
  background: #faa;
  color: #700;
}

.system {
  border-color: #00f;
  background: #aaf;
  color: #007;
}
