body {
  font: normal 12px verdana, arial, helvetica, sans-serif;
}

.preview {
  float: right; 
  width: 15%;
}

div.image {
  margin: 1.2em;
  padding: 2px;
  line-height: 1.2;
}

div.image img {
  border: none;
  display: block;
}

div.image span {
  font-style: italic;
  font-size: 83%;
}

div.imgRight {
	clear: both;
  margin-top: 0.5em;
  margin-right: 0;
  float: right;
}

div.imgLeft {
	clear: both;
  margin-top: 0.5em;
  margin-left: 0;
  float: left;
}

div.imgCenter {
  /* width: 400px; */
  /* text-align: center; */
  margin: auto;
  clear: both;
}

form {
  margin: 0;
  padding: 0;
}

label {
  display: block;
}

table {
  margin: 1em;
  padding: 0;
  border: 0;
  background: #f7f7f7;
  font-size: inherit;
}

th, td {
  text-align: left;
  padding: 0.3em 1em;
  vertical-align: top;
}

th {
  font-weight: bold;
  border-bottom: 1px solid #c0c0c0;
}

td {
  border-bottom: 1px solid #e7e7e7;
}

ul#newsroom {
  margin: 0;
  padding: 0;
}

ul#newsroom li {
  list-style-type: none;
  margin-bottom: 2em;
}

ul#newsroom .date {
  color: #999;
}

#note,
#note a {
  color: #999;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 0.8em;
}

#note a {
  display: inline;
  font-size: 1em;
}

#path {
  font-size: 0.9em;
}

.inline {
  display: inline;
}

div.fieldWithErrors {
  display: inline;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}
